name: PR auto-{approve,merge}

on:
  workflow_dispatch:
  pull_request_target:

permissions:
  pull-requests: write
  contents: write

jobs:
  bot-check:
    uses: gjtorikian/actions/.github/workflows/automerge.yml@main
    secrets:
      gh_token: ${{ secrets.GITHUB_TOKEN }}

