name: Ruby CI

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        gemfile:
          - rails_6
          - rails_5
          - rails_4
          - rails_3
        ruby-version:
          - 3.0.0
          - 2.7.2
          - 2.6.6
          - 2.5.8
        experimental: [false]
        include:
          - ruby-version: head
            experimental: true
          - ruby-version: truffleruby-head
            experimental: true

    continue-on-error: ${{ matrix.experimental }}

    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile

    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: Install dependencies
        run: bundle install --path ../../vendor/bundle
      - name: Run tests
        run: bundle exec rake
