name: Lint

on:
  pull_request:
    paths:
      - "**/*.rb"

permissions:
  contents: write

jobs:
  lint:
    uses: gjtorikian/actions/.github/workflows/ruby_lint.yml@main
    secrets:
      gh_token: ${{ secrets.GITHUB_TOKEN }}

